@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600;700;900&display=swap');


.about-me-page{
    min-height:50vh;
    padding-top: 100px;
    color: crimson;
    font-family: 'Fira Sans', sans-serif;
}

.container-abm{
    width:100%;
    max-width:1300px;
    margin: 0 auto;
    /* border: 2px solid green; */
    
}

.upper-abm{
display: flex;
flex-wrap: wrap;
justify-content: center;
text-align: left;
gap:30px;
/* border: 1px solid green; */
}
.upper-header{
    display:flex;
    justify-content: space-between;
    text-align: left;
    /* padding: 5px 20px; */
    /* background-color:blue */
}
.uh-text{
width: 100%;
max-width: 300px;
color: var(--primary-color);
}
.uh-text-line{
    /* background-color:red; */
    width: 100%;
    height:2px;
    max-width:600px;
}
.upper-abm-picture{
    min-height: 500px;
    text-align: left;
    padding:10px 15px;
    letter-spacing:1.5px;
    width:100%;
    max-width: 300px;
    line-height:2.8em;
    color: white;
    background:var(--alternate-color)
}
.upper-abm-text{
width:100%;
max-width: 800px;
padding:5px 10px;
}
.abm-text-header{
    color: var(--alt-color);
    
}
.abm-text-summary{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:100px;
    margin:20px 0 40px;
    color: black;
}
.abm-text-summary >  div{
width:100%;
max-width: 300px;
letter-spacing:1px;
line-height:1.8em;
}


@media only screen and (min-width: 900px) {
    .upper-abm{
        justify-content: flex-start;
    }
    .abm-text-summary{
        justify-content:flex-start;
    }

}