.blog-page-container {
  width: 95%;
  max-width: 1300px;
  margin: 0 auto;
  min-height: 60vh;
  margin-top: 100px;
  background-color: white;
  color: black;
  /* border: 1px solid green; */
  padding: 10px;
  position: relative;
}
.blog-header h1 {
  font-size: 50px;
}
.blog-headline-container {
  /* border: 3px solid orange; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 50px;
  text-align: left;
}
.blog-header {
  color: var(--primary-color);
}
.blog-headline-title h2,
.blog-article-title h3 {
  color: var(--alternate-color);
  color: #3e4855;
}

.blog-headline-image {
  width: 100%;
}
.blog-headline-image img {
  width: 100%;
  max-width: 900px;
}
.blog-headline-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.blog-headline-summary {
  display: none;
}
.previous-articles-header {
  margin: 20px 0;
}
.blog-articles-container {
  /* border: 1px solid steelblue; */
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.blog-article {
  /* border: 1px solid rebeccapurple; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 310px;
  text-align: left;
  padding: 5px;
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.249);
}
.blog-article-main h3, .blog-article-main h2{
margin:0px 0 5px;
color: var(--alt-color);
letter-spacing: 1px;

}
.blog-article-image {
  margin-bottom: 10px;
}
.blog-article-image img {
  width: 100%;
  max-width: 300px;
}
.blog-article-date{
  display: flex;
  gap:40px;
  /* justify-content:center; */
  align-items: center;
  padding:20px 0;
  
}
.blog-article-date small{
  display: flex;
  gap:6px;
  align-items: center;
}
.blog-article-cta,
.blog-headline-cta {
  text-align: right;
  cursor: pointer;
  /* text-decoration: underline; */
  /* border: 1px solid green; */
  padding: 10px 0;
}
.blog-article-cta small,
.blog-headline-cta small {
  border: 1px solid var(--alt-color);
  background-color: transparent;
  color: var(--alt-color);
  font-weight: 700;
  letter-spacing:1px;
  border-radius: 10px;
  padding: 5px 20px;
  transition: all 300ms ease-in-out;
  margin: 5px 0;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
@media only screen and (min-width: 600px) {
  .blog-header h1 {
    font-size: calc(58px + 1vw);
    text-align: left;
  }
  .blog-headline-container {
    display: grid;
    grid-template-columns: 3fr 2fr;
    /* border: 2px solid red; */
  }
  .blog-headline-image img,
  .blog-article-image img {
    transition: all 500ms ease-in-out;
    cursor: pointer;
  }
  .blog-headline-image img:hover,
  .blog-article-image img:hover {
    opacity: 0.6;
    /* border: 1px solid green; */
  }

  .blog-article {
    max-width: 325px;
  }
  .blog-article-image img {
    max-width: 325px;
  }

  .blog-headline-image {
    padding: 0px;
    border-radius: 4px;
  }
  .blog-headline-image img {
  }
  .blog-headline-text {
    text-align: left;
    padding: 0 20px;
  }
  .blog-headline-text h2 {
    font-size: 3vw;
  }
}

@media only screen and (min-width: 800px) {
  .blog-article-cta small:hover,
  .blog-headline-cta small:hover {
    /* border: 1px solid grey; */
    color: var(--alternate-color);
    background-color: white;
    /* border: 2px solid grey; */
    transform:translateY(-10px);
  }
}

@media only screen and (min-width: 1100px) {
  .blog-headline-summary {
    display: block;
  }

  .blog-article {
    max-width: 375px;
  }
  .blog-article-image img {
    max-width: 375px;
  }
  .blog-articles-container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
  }
}
