.linkspage-container {
  min-height: 50vh;

  padding-top: 150px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin: 0 auto;
  max-width: 1100px;
  padding: 5px;
  padding-top: 150px;
}

.link-unit {
  padding: 10px 20px;
  width: 90%;
  margin: 20px 0;
  height: 5rem;
  overflow-x: scroll;
  background-color: aliceblue;
  padding: 15px;
  border-radius: 5px;
  overflow: hidden;
  font-size: 8px;
  border-bottom: 1px solid grey;
}

.linkspage-container > div {
  background: wheat;
  margin: 20px 0;
  border: 1px solid black;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 20px 10px;
}

.links-page-pop-up {
  border: 1px solid green;
  font-size: 10px;
  max-width: 600px;
  overflow: hidden;
  max-height: 600px;
  overflow-y: scroll;
}
