@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700;900&display=swap");

.portfolio-section-container {
  margin-top: 40px;
  width: 100%;
  max-width: 1300px;
  margin: 0px auto;
  /* border: 1px solid green; */
}
.projects-header {
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 50px 0;
  /* border: 1px solid green; */
  padding: 0 25px;
}
.projects-header h1 {
  align-items: left;
  /* border: 1px solid green; */
  width: auto;
  display: flex;
  margin-bottom: 10px;
}
.projects-header h3 {
  text-align: left;
  display: flex;
  color: black;
  letter-spacing: 1px;
  width: 30%;
  gap: 25px;
  align-items: center;
  color: var(--primary-color);
  cursor: pointer;
}
.projects-section-gallery {
  /* border: 1px solid green; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.projects-section-card {
  width: 300px;
  min-height: 400px;
  margin: 10px;
  border-radius: 4px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 25px 10px;
  transition: 500ms ease-in-out;
  cursor: pointer;
}
.card-cta {
  width: 100%;
  margin: 0 auto;
  border-radius: 4px;
  background-color: aliceblue;
  padding: 10px 5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  letter-spacing: 1px;
  cursor: pointer;
}
.card-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-image img {
  width: 100px;
}
#proj-1 {
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
  background: linear-gradient(
    90deg,
    rgba(70, 35, 122, 1) 0%,
    rgba(100, 93, 215, 1) 0%,
    rgba(53, 144, 243, 1) 100%
  );
}
#proj-2 {
  background: #13070c;
  background-color: black;
  background: rgb(2, 9, 23);
  background: linear-gradient(
    90deg,
    rgba(2, 9, 23, 1) 0%,
    rgba(19, 7, 12, 1) 20%,
    rgba(19, 7, 12, 1) 100%
  );
  background: #13070c;
}
#proj-3 {
  background-color: #46237a;
}
#proj-4 {
  background-color: #e28743;
}
.card-text {
  color: white;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 10px;
}
.card-text h1 {
  font-family: "Merriweather", serif;
  font-weight: 700;
}
.projects-section-card :nth-child(2) h1 {
  font-family: "Lato", sans-serif;
}

.projects-section-card-new {
  width: 80%;
  height: 80%;
  max-width: 340px;
  max-height: 500px;
  margin: 10px 5px;
  border-radius: 5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
  display: grid;
  grid-template-rows: 2fr 3fr;
  transition: all 300ms ease-in-out;
  background-color: white;
  padding: 10px 0;
  border: 1px solid var(--primary-color);
}
.psc-new-image {
  /* border: 1px solid green; */
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}
.psc-new-image img,
.psc-new-image video {
  width: 100%;
  height: auto;
  border: none;
}
.psc-new-text {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-evenly;
  padding: 10px 15px;
}
.psc-new-text p {
  color: #13070cc2;
  font-size: 18px;
  font-weight: 700;
  color: black;
}
.psc-new-text h2 {
  color: var(--primary-color);
}
.psc-new-text h3 {
  color: var(--text-secondary);
  letter-spacing: 1px;
}
.card-details {
  display: flex;

  justify-content: space-between;
  color: var(--alt-color);
}
.btn-card {
  display: flex;
  justify-content: space-evenly;
}
.read-more-arrow {
  color: var(--primary-color);
  font-size: 28px;
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
  cursor: pointer;
}
.read-more-arrow p {
  color: var(--primary-color);
}

@media only screen and (min-width: 600px) {
  .projects-section-card:hover,
  .projects-section-card-new:hover {
    transform: translateY(-8px);
  }
}

@media only screen and (min-width: 768px) {
  .projects-section-gallery {
    justify-content: space-between;
  }
  .projects-header p {
    display: block;
  }
}
