.contact-page {
  /* border: 1px solid green; */
  min-height: 100vh;
  position: relative;
  width: 95%;
  margin: 100px auto;
}
.contact-header-container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  /* border: 1px solid green; */
}

.contact-page-container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}
.contact-form {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact-form-text {
  padding: 0px;
  /* border: 3px solid green; */
}
.contact-form-box {
}
.contact-form-text h3 {
  color: var(--secondary-color);
  letter-spacing: 1px;
  /* border: 1px solid red; */
  width: 100%;
  max-width: 700px;
  font-size: 28px;
}
.contact-form-text p {
  margin-top: 20px;
  width: 100%;
  line-height: 1.9em;
  max-width: 700px;
}
.contact-form-box {
  /* border: 2px solid red; */
  max-width: 500px;
  width: 100%;
}
.cf-form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px 30px;
  background-color: black;
  color: aliceblue;
  border-radius: 5px;
}
.cf-form input,
.cf-form textarea {
  width: 100%;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
}

.cf-form textarea {
  height: 200px;
}
.cf-image {
}
.cf-image img {
}
.btn-contacts {
  width: 100%;
  border: 1px solid green;
  padding: 10px 25px;
  background-color: var(--primary-color);
  color: white;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  border-radius: 5px;
  transition: all 400ms ease-in-out;
}

@media only screen and (min-width: 600px) {
  .contact-form {
    text-align: left;
  }

  .contact-form-text h3,
  .contact-form-text p {
  }

  .contact-form-box {
  }
}
@media only screen and (min-width: 900px) {
  .contact-form {
  }
  .cf-form {
  }
  .btn-contacts:hover {
    background-color: white;
    color: var(--secondary-color);
    transform: translateY(-10px);
  }
}
