.pitch {
  background-color: var(--dark);
  width: 98%;
  margin: 0 auto;
  border-radius: 10px;
}
.pitch-container {
  width: 95%;
  max-width: 1300px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  gap: 200px;

  color: white;
}
.upper-pitch {
  /* border: 1px solid crimson; */
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 10px;
  margin-top: -100px;
}
.up-text-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  /* border: 1px solid var(--dark); */
  padding: 20px;
  color: white;
}

.up-image-section {
}
.up-image-section img {
  animation: var(--animation);
  box-shadow: none !important;
  width: 100%;
}
.up-text-section h1 {
  color: var(--primary-color);
}
.up-text-section p {
  color: white;
  padding: 10px 30px 0px 0px;
  line-height: 1.8em;
}
.upt-cta {
  display: flex;
  gap: 10px;
}
.upt-cta button {
}

.lower-pitch {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  padding-bottom: 30px;
  margin-top: -100px;
}
.lower-pitch h1 {
  color: var(--primary-color);
}
.lp-text p {
  color: white;
  padding: 25px;
  line-height: 1.8em;
}
.lp-logos {
  /* border: 1px solid green; */
  display: flex;
  justify-content: space-evenly;
  font-size: 38px;
  padding: 10px;
}
.pitch-header {
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
  margin-top: -20px;
}
.pitch-circle {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  font-size: 28px;
}
@media only screen and (min-width: 600px) {
  .pitch-header {
    flex-direction: row;
    gap: 10px;
  }
  .pitch-header h1 {
    font-size: 40px;
  }
  .pitch-circle {
    height: 150px;
    width: 150px;
    font-size: 34px;
  }
  .pitch-container {
    margin: 100px auto 40px;
  }

  .upper-pitch {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .up-text-section {
    text-align: left;
  }
  .lower-pitch {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .lp-text p {
    text-align: left;
  }
  .lower-pitch h1 {
    text-align: left;
  }
  .lp-logos {
    grid-column: span 2;
  }
}
