@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;700&display=swap");
.blogs-page {
  min-height: 50vh;
  padding-top: 100px;
  /* background-color: aquamarine; */
}

.bp-page {
  /* border: 1px solid crimson; */
  /* background-color: grey; */
}

.blogs-upper-section {
  /* border: 2px solid navy; */
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 95%;
  margin: 0 auto;
}
.blogs-overlay {
  background: rgba(128, 128, 128, 0.871);
  /* background-color: rgba(0, 0, 0, 0.775); */

  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 400ms ease-in-out;
  align-items: center;
  cursor: pointer;
  font-family: "Merriweather Sans", sans-serif;
}
.blogs-container {
  height: 200px;
  color: white;
  /* border: 2px solid red; */
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  gap: 7px;
  padding: 0 5px;
}

.blogs-headliner {
  width: 100%;
  /* border: 2px solid green; */

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  letter-spacing: 0.5px;

  height: 450px;
}
.blogs-topic {
  background-color: darkgrey;
  width: 80px;
  color: var(--secondary-color);
  color: var(--alt-color);
  font-weight: 900;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 5px;
}
.blogs-header h3 {
  font-size: calc(18px + 1vw);
}
.blogs-headline-details {
  display: flex;
  gap: 15px;
  margin-top: 7px;
}
.blogs-headline-details small {
  font-size: 10px;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
.blogs-features {
  width: 100%;
  /* border: 2px solid crimson; */
  /* background-color: bisque; */
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.bf-header {
  color: var(--alt-color);
  text-align: left;
  margin-top: 0;
  padding-top: 0;
}
.bf-header {
  margin-top: 0;
  padding-top: 0;
}
.blogs-features-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  max-width: 300px;
  padding-bottom: 5px;
  /* border-bottom: 1px solid grey; */
}
.bf-image {
  height: 100%;
  width: 100%;
  /* border: 2px solid green; */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bf-image img {
  height: 125px;
  width: auto;
  transition: all 400ms ease-in-out;
}
.bf-item {
  text-align: left;
  padding: 0px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 1px solid green; */
  height: 125px;
  cursor: pointer;
}
.bf-item small {
}
.bf-item-header {
  font-size: 1rem;
  font-size: 0.75rem;
  font-size: 1rem;
  font-size: clamp(0.8rem, 1.15vw, 1rem);
  /* font-size: 1.15vw; */
}
.blogs-topic-bf {
  color: var(--alt-color);
  font-weight: 700;
  font-size: 0.75rem;
  font-size: 0.7rem;
  font-size: 0.9rem;
  font-size: clamp(0.75rem, 0.7rem, 0.9rem);
}
.bf-item-date {
  font-size: 8px;
}

.blogs-lower-list {
  border: 1px solid green;
  margin-top: 50px;
}
.bl-item {
  border: 3px solid blue;
  width: 100%;
  max-width: 300px;
  text-align: left;
}
.bl-item-image {
  height: 200px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media only screen and (min-width: 600px) {
  .blogs-overlay {
    justify-content: flex-end;
  }
  .blogs-container {
    padding: 0 10px;
  }
}
@media only screen and (min-width: 800px) {
  .blogs-upper-section {
    display: grid;
    grid-template-columns: 4fr 1.5fr;
    grid-column-gap: 10px;
  }

  .blogs-container {
    padding: 0 15px;
  }
  .blogs-overlay:hover {
    background: rgba(128, 128, 128, 0.571);
  }
  .bf-image img:hover {
    opacity: 0.8;
  }
}
