.showcase-container {
  height: calc(100vh - 100px);
}
.showcase-image img {
  width: 100%;
  max-width: 300px;
  animation: float 2s ease-in-out infinite reverse;
}
.showcase-cta {
  height: 39%;
  padding: 10px;
  background-color: #423e3b;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.showcase-cta::before {
  content: "";
  position: absolute;
  background-color: aqua;
  height: 6%;
  width: 100%;
  bottom: 30%;
  border-bottom-left-radius: 50%;

  background-color: white;
}
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(0px);
  }
}
