.showcase-container {
  height: calc(100vh - 100px);
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}
.showcase-image img {
  width: 100%;
  max-width: 300px;
  animation: float 2s ease-in-out infinite reverse;
}
.showcase-cta {
  height: 39%;
  padding: 10px;
  padding-bottom: 30px;

  background-color: #423e3b;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.showcase-lottie {
  display: none;
}
.small {
  display: flex;
}
.large-container {
  display: none;
}
.text {
  display: flex;
  flex-direction: column;
}
.showcase-text-button {
  display: none;
}
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(0px);
  }
}

@media only screen and (min-width: 700px) {
  .showcase-container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    /* border: 2px solid green; */
    height: 60vh;
  }
  .showcase-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid green;
  }
  .showcase-image {
    display: none;
  }
  .showcase-lottie {
    display: block;
    height: 100%;
    border: 3px solid green;
    overflow: hidden;
  }

  .small {
    display: none;
  }
  .large-container {
    display: block;
    background-color: aliceblue;
  }
  .large {
    display: grid;
    grid-template-columns: 2fr 3fr;

    height: 30vh;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
  }
  .showcase-cta {
    height: 100%;
  }
  .showcase-large-skills {
    padding: 20px;
  }
  .showcase-skills-header {
    color: #423e3b;
    margin-bottom: 40px;
  }
  .showcase-skills {
    display: flex;

    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #423e3b;
  }

  .showcase-text-button {
    display: block;
    margin-top: 40px;
  }
  .large-cta {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .showcase-contact-text {
    color: white;

    background-color: #423e3b;
  }
  .showcase-contact-form {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
  }
  .showcase-contact-form h3 {
    color: white;
  }
  /* .showcase-circle {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    bottom: 0;
    left: 25%;
    z-index: 0;
    background-color: rgba(220, 20, 60);
  } */
}
