.showcase-container {
  height: calc(100vh - 100px);
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}
.showcase-image img {
  width: 100%;
  max-width: 300px;
  animation: float 2s ease-in-out infinite reverse;
  box-shadow: none !important;
}
.showcase-cta {
  height: 39%;
  padding: 10px;
  padding-bottom: 150px;

  background-color: rgba(240, 248, 255, 0);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.showcase-lottie {
  display: none;
}
.small {
  display: flex;
}
.large-container {
  display: none;
}
.text {
  display: flex;
  flex-direction: column;
}
.showcase-text-button {
  display: none;
}
.showcase-text {
  /* border: 1px solid blue; */
  /* overflow-y: hidden; */
}
.span-container {
  /* border: 1px solid green; */
  display: flex;
  justify-content: space-evenly;

  gap: 10px;
}

.span-1 {
  /* border: 1px solid green; */
  animation: flip 300ms ease-in-out;
  width: 300px;

  transform: translateX(0);
}
.removed {
  transition: all 300ms ease-in-out;
  animation: flipOut 300ms ease-in-out;
  display: none;
}
@media only screen and (min-width: 700px) {
  .showcase-container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    /* border: 2px solid green; */
    height: 60vh;
  }
  .showcase-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid green; */
  }
  .showcase-image {
    display: none;
  }
  .showcase-lottie {
    display: block;
    height: 100%;
    /* border: 3px solid green; */
    overflow: hidden;
    margin-top: 90px;
  }

  .small {
    display: none;
  }
  .large-container {
    display: block;
    background-color: aliceblue;
    position: relative;
    background-color: #423e3b;
    background-color: var(--primary-color);
  }
  .large {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 3fr;

    height: 30vh;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    background-color: transparent;
    /* border: 2px solid green; */
  }
  .showcase-cta {
    height: 100%;
  }
  .showcase-large-skills {
    padding: 20px;
  }
  .showcase-skills-header {
    color: #423e3b;
    margin-bottom: 40px;
    color: white;
  }
  .showcase-skills-header h1 {
    text-align: left;
    color: grey;
    color: white;
    padding-left: 20px;
    font-weight: 600;
  }
  .showcase-skills {
    display: flex;

    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #423e3bb4;
    color: aliceblue;
    padding: 0 20px;
  }
  .showcase-skills img {
    width: 47px;
  }
  .showcase-text-button {
    display: block;
    margin-top: 40px;
  }
  .large-cta {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: transparent;
  }
  .showcase-contact-text {
    color: white;
    height: 80px;
    color: black;
    background-color: #423e3b;
    background-color: transparent;

    position: relative;
    color: aliceblue;
  }
  .showcase-contact-form {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
  }
  .showcase-contact-form h3 {
    color: white;
  }
  .showcase-contact-form input {
    width: 100%;
    max-width: 12rem;
    padding: 5px 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    color: white !important;
  }
  .showcase-contact-form ::placeholder {
    color: white;
  }
  .showcase-contact-form textarea {
    width: 100%;

    padding: 5px 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    color: white;
  }
  .show .showcase-circle {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    bottom: 35%;
    left: 55%;
    z-index: 0;
    background-color: rgba(220, 20, 60);
    display: flex;
  }
  .large-left {
    position: absolute;
    height: 100%;
    width: 30%;
    background-color: #423e3b;
    background-color: aliceblue;
    background-color: transparent;
    right: 0;
    bottom: 0;
    z-index: 0;
  }

  .showcase-h3 {
    position: absolute;
    top: 10%;
    z-index: 11;
    width: 100%;
    height: 100%;
  }
  .circle {
    position: absolute;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: var(--alt-color);
    left: 15%;
    top: 0;
    z-index: 0;
    animation: float 2s ease-in-out infinite reverse;
  }
  .btn-send {
    display: flex;
    justify-content: flex-end;
    color: grey;
    font-weight: 900;
    letter-spacing: 1px;
    color: white;
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes flip {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes flipOut {
  0% {
    transform: translateX(0%);
    display: block;
    opacity: 1;
  }
  100% {
    transform: translateX(250%);
    display: none;
    opacity: 0;
  }
}
